#featured , #gaming , #cluster{
    font-family: "Bellota" !important;
    margin-bottom: 5em;
    h2{
        margin-bottom: 2em;
    }
    .btn{
        background-color: #15c5bd;
        border-color: #15c5bd;
    }
}
