$back-color: #303030;
$colorText: #15c5bd;
@font-face{
  font-family: "Bellota";
  src: url("/assets/font/Bellota-Regular.otf") format("truetype");
}
form {
  font-family: "Bellota";
  background-color: $back-color;
  color: $colorText;
  border-radius: 35px;
  .btn {
    background-color: $back-color;
    color: $colorText;
    border-color: $colorText;
  }
  hr {
    border-color: white;
  }
  .divSexType {
    margin-left: 17%;
  }
  .ohnohoney {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }
}
