header {
  a,
  h1,
  p {
    font-family: "Bellota" !important;
  }
  a{
    color:black;
  }
  a:hover{
    color:#15c5bd;
  }

  .navbar {
    img {
      width: 70px;
      height: auto;
    }
  }
  .jumbotron {
    h1,
    p {
      color: #15c5bd;
    }

    p{
      padding-bottom: 2em;
    }
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: right;
  }
  margin-bottom: 8em;
}
